<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Record</title>

</head>
<body>
<div class="container">

<div class="row">
    <h1 style="text-align: center" >Insert Record</h1>
</div>
  <div class="row mt-5">
  <div class="col-lg-4 col-lg-offset-4 mt-5"style="text-align: center;">

      <form method="post" enctype="multipart/form-data"> {%csrf_token%}

  <div class="form-group">
<!--    <label for="exampleInputEmail1">Name</label>-->
    <input type="text" class="form-control-lg" id="exampleInputEmail1" name="name" placeholder="Enter Name" style="width:25%; border-radius:10px; height:28px;font-size: 15px;text-align: center;" value="{{request.POST.name}}" required>
  </div><br>
  <div class="form-group">
<!--    <label for="exampleInputPassword1">Designation</label>-->
    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter your Designation" name="Designation" style="width:25%; border-radius:10px; height:28px;text-align: center;" value="{{request.POST.Designation}}" required>
  </div> <br>
        <div class="form-group">
<!--    <label for="exampleInputnumber">Contact</label>-->
   <input type="number" class="form-control" id="exampleInputnumber" placeholder="Enter your Contact Number" name="contact" style="width:25%; border-radius:10px; height:28px;text-align: center;" value="{{request.POST.contact}}" required>
  </div><br>

          <div class="form-group">
<!--    <label for="exampleInputnumber">Contact</label>-->
   <input type="file"  name="image" style="width:25%; border-radius:10px; height:28px;text-align: center;"  value="kuhf" required>
  </div><br>
<button type="submit"   style="  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  width:25%;
  text-align: center;
  height:35px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;">Insert</button>

</form>
        <div style="color:red; margin-top:5px; ">{{frm}}</div>

    </div>
  </div>
</div>

<script>
    $(document).ready(function(){
    $('#dataTable).DataTable();
    });
</script>
</body>

</html>